<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhiyin.demo.mapper.ContentMapper">

    <insert id="insert" parameterType="com.yunzhiyin.demo.pojo.Content">
        insert into tb_content(dutyId,message,phoneNumber)
        values
        (#{content.dutyId},#{content.message},#{content.phoneNumber})
    </insert>

    <select id="getDetailContent" resultType="com.yunzhiyin.demo.pojo.Content">
        select * from tb_content where dutyId = #{dutyId} and phoneNumber = #{phoneNumber} LIMIT 0,1
    </select>
</mapper>
